[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
bleach = "*"
opencv-python = "*"
lxml = "*"
matplotlib = "*"
pillow = "*"
tqdm = "*"
tensorflow = "*"
easydict = "*"
scipy = "*"
twilio = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
